body, html {
	height: 100%;
	width: 100%;
	background-color: rgba(80, 227, 194, 1);
	margin: 0;
}

.leftBar {
	height: 100%;
	width: 33%;
	background-color: rgba(74, 144, 226, 1);
	float: left;
}

.rightBar {
	height: 100%;
	width: 33%;
	background-color: rgba(184, 233, 134, 1);
	float: right;
}

.top {
	height: 36%;
}

.rightBar .bottom img {
	width: 100%;
	border-radius: 3%;
	position: 1000px;
}

.clear {
	clear: both;
}